<div class="d-flex align-items-center flex-column">
<%= simple_form_for @list do |f| %>
  <div class="w-100">
  <%= f.input :name %>
  </div>
  <div class="w-100">
  <%= f.input :photo, as: :file %>
  </div>
  <div class="d-flex align-items-center flex-column">
  <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
<%= link_to "Cancel", lists_path, class: "btn btn-danger my-3 mx-auto" %>
</div>
